/*///////////////////////// GENERALES /////////////////////////*/

body {
  font-family: 'Sora',
    sans-serif;
}

* {
  scroll-behavior: smooth;
}

section {
  overflow: hidden !important;
}

h1 {
  font-size: 64px;
  line-height: 1;
}

h2 {
  font-size: 60px;
  line-height: 1;
}

.lh-100 {
  line-height: 1;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.lora {
  font-family: 'Lora',
    serif;
}

.fs-75 {
  font-size: 1rem;
}

.fs-100 {
  font-size: 1.1rem;
}

.fs-125 {
  font-size: 1.4rem;
}

.fs-150 {
  font-size: 1.6rem;
}

.fs-175 {
  font-size: 1.8rem;
}

.fs-200 {
  font-size: 2rem;
}

.fs-225 {
  font-size: 2.4rem;
}

.fs-250 {
  font-size: 2.6rem;
}

.btn {
  border-radius: 35px;
  font-size: 16px;
     font-weight: 600;
  padding: 8px 15px;
}

.btn-primary {
  background: #3FB7F6 !important;
  color: #fff;
  border: 2px solid #3FB7F6 !important;
  transition: all ease .25s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background: #00395E !important;
  color: #fff !important;
  border: 2px solid #00395E !important;
  transition: all ease .25s;
  box-shadow: none !important;

}

.btn-secondary {
  border: 2px solid white;
  background-color: transparent;
  color: #fff;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  background: #fff !important;
  color: #3FB7F6 !important;
  font-size: 16px;
  border: 2px solid #fff !important;
  transition: all ease .25s;
  box-shadow: none !important;
}

.primary {
  color: #3FB7F6 !important;
}

.primary-bg {
  background: #3FB7F6 !important;
}

.secondary {
  color: #00395E;
}

.secondary-bg {
  background: #00395E;
}

.tertiary {
  color: #84B7D2;
}

/* HEADER  */
.hide-on-scroll {
  display: none;
  transition: all .3s;
}

.top-menu a:hover {
  text-decoration: none;
}

.top-menu-border {
  width: 3000px;
  left: -1000px;
  height: 1px;
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.452);
}

.menu {
  background-color: transparent;
  -webkit-transition: background 0.3s 0s linear;
  -moz-transition: background 0.3s 0s linear;
  -o-transition: background 0.3s 0s linear;
  transition: background 0.3s 0s linear;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
}

.header-logo {
  background-image: url("../images/header-white-logo.svg");
  width: 200px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.header-color-logo {
  background-image: url("../images/header-color-logo.svg");
}

.navbar {
  z-index: 5;
  width: 100%;
  padding: 0.8rem 0rem;
}

.nav-link {
  font-size: 16px;
  font-weight: 600;
  color: white !important;
  margin-right: 1rem !important;
  margin-left: 1rem !important;
  padding-bottom: 0px;
  position: relative;
  transition: linear 0.2s;
  padding: 8px 15px !important;
}

.nav-link::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0px;
  background-color: #fff;
  bottom: 0;
}

.nav-link:hover::before {
  transform: scaleX(1);
  transition: linear .3s;
  width: 75%;
  opacity: 1;
}

.active .nav-link {
  font-weight: 700;
}

/* Bs nav para el menú mobile */
.navbar-toggler-icon,
.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  background-color: white !important;
  transition: .3s;
}

.bsnav-mobile .navbar {
  left: 0 !important;
  transform: translate3d(-300px, 0, 0) !important;
  box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.65);
}

.bsnav-mobile .navbar .nav-link {
  color: #00395E !important;
}

.bsnav-mobile.in .navbar {
  transform: translate3d(0px, 0, 0) !important;
}

.header-overlay {
  width: 100%;
  height: 150px;
  position: absolute;
  top: 0;
  background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.15) 30%, #041A29);
  background: linear-gradient(0deg, transparent 0, rgba(0, 0, 0, 0.15) 30%, #041A29);
  z-index: 2;
  opacity: .7;
}

.blue-links {
  color: #00395E !important;
  transition: .3s;
}

.blue-links:hover {
  color: #3FB7F6 !important;
}

.blue-toggler,
.blue-toggler::before,
.blue-toggler::after {
  background-color: #00395E !important;
}

.nav-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* MAIN */

.main-section {
  background: url("../images/main-bg.jpg") #fff;
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: white;
  display: flex;
  align-items: center;
}

.icon-container img {
  height: 80px;
}

/* APPOINTMENT */

.appointment {
  background: url("../images/appoinment.png") #fff;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 550px;
  display: flex;
  align-items: center;
}

.appointment-f {
  background: url("../images/appoinment2.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 550px;
  display: flex;
  align-items: center;
}

/* CAROUSEL */
.owl-nav {
  display: flex;
  justify-content: space-between;
  transform: translateY(-280px);
}

.owl-nav .owl-next,
.owl-nav .owl-prev {
  border: 1px solid #00395E !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  outline: none;
  color: #00395E;
}

.owl-nav .owl-next {
  margin-right: -60px;
}

.owl-nav .owl-prev {
  margin-left: -60px;
}

.owl-nav .owl-next:hover,
.owl-nav .owl-prev:hover {
  border: 1px solid #3FB7F6 !important;
  background-color: #3FB7F6 !important;
  color: white !important;
}

/* TEAM */
.team {
  background: url("../images/team-bg.svg") #fff;
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: visible;
  padding-bottom: 250px !important;
}

.read-more-link {
  border-bottom: 3px solid #3FB7F6;
  transition: .3s;
}

.read-more-link:hover {
  text-decoration: none;
  color: #00395E !important;
}

.translate-img {
  transform: translateY(-200px);
}

/* CONTACT */
.contact small {
  font-size: 14px;
}

.contact form input,
.contact form textarea {
  font-weight: 300;
  font-size: 14px;
  color: #00395E;
}

.contact form input::-webkit-input-placeholder,
.contact form textarea::-webkit-input-placeholder {
  color: #00395E !important;
}

.contact form input:-moz-placeholder,
.contact form textarea:-moz-placeholder {
  color: #00395E !important;
}

.contact form input::-moz-placeholder .contact form textarea::-moz-placeholder {
  color: #00395E !important;
}

.contact form input:-ms-input-placeholder,
.contact form textarea:-ms-input-placeholder {
  color: #00395E !important;
}

.contact .form-control:not(textarea) {
  height: calc(1.5em + 1rem + 2px);
}

.contact .form-control:focus {
  color: #00395E;
  border-color: #3FB7F6;
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgb(0 123 255 / 15%);
}

/* FOOTER */
footer {
  background: url("../images/footer-bg.svg") #fff;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 125px 0px 140px 0px;
  position: relative;
}

footer a,
.contact a {
  transition: .3s;
}

footer a:hover,
.contact-info a:hover {
  text-decoration: none;
  color: #84B7D2 !important;
}

.copyright {
  background-color: #003456;
  position: absolute;
  bottom: 0;
  font-size: 14px;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .nav-link {
    padding: 25px 0px;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 42px;
  }
  .owl-nav {
    display: flex;
    justify-content: center;
    transform: none;
    margin-top: 25px;
  }
  .owl-nav .owl-next {
    margin-left: 20px;
  }

}

@media (max-width: 525px) {
  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 30px;
  }

  .top-menu {
    display: none;
  }

  .appointment {
    background: #00395E;
    text-align: center;
    min-height: 350px;
  }

  .appointment-f {
    background: #84B7D2;
    text-align: center;
    min-height: 350px;
  }

  .team {
    padding-bottom: 100px !important;
  }

  .translate-img {
    transform: translateY(-100px);
  }

  footer {
    background-size: cover;
    padding: 75px 0px 100px 0px;
  }

}

